@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap');


body {
    font-family: Recursive, sans-serif;
    background-color: #90caf9;
    background-repeat: no-repeat;
    background-size: 100%;
    
}

#add_ingredient_field {
    padding:1rem;
}

.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin:5px 5px;
    padding: 0 0.5em;
}

.task_header {
    margin-top: 5px;
}
nav {
    background-color: transparent;
    color: black;
    box-shadow: none;
}
.media {
    background-color: white;
    padding: 1em;
    margin: 0.5em;
    border-radius: 25px;
}


}


@media screen and (max-width: 768px) { 

body {
    background-image: url("../images/home-bkgrnd-mobile-2.jpg");
    background-size: 100vw 100vh;
}
nav .brand-logo {
    font-size: 1.5rem;
}
}
