@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap');

/* Background Colours & General */
html {
    font-family: Recursive, sans-serif;
    background-image: url('../images/background.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav .brand-logo {
    font-size: 1.5rem;
}

h1 {
    text-align: center;
    color: #e3f2fd;
}
h4 {
    color: #1a237e;
    margin: 0;
}

/* Login-Signup HTML */

form {
    background-color: #e3f2fd;
    border-radius: 15px;
    padding: 25px;
}
.row .col {
    padding: 0.72rem;
}
.task_header {
    margin-top: 5px;
}
.help {
    color: red;
}
/* Alignment of recipes displayed in Media Content */

.media {
    background-color: white;
    padding: 1em;
    margin: 0.5em;
    border-radius: 25px;
}

/* alignment of category search buttons */
.recipecat {
    max-height: 5rem;
}
.btn {
    width: 120px;
    margin:2px;
}
.btn-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Card Changes for masonry alignment */

.card .card-content {
    border-radius: 0 0 2px 2px;
    padding: 10px 10px 0px 10px;;
}
.card .card-content .card-title {
    display: block;
    line-height: 25px;
    margin-bottom: 8px;
    color: #0d47a1;
}
.category-button {
    min-width: 166px;
}

.card .card-action {
    padding: 5px;
}

.grid {
  max-width: 1275px;
}

/* Masonary Items */

.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* grid-items  */
.grid-sizer,
.grid-item {
  width: 23.75%;
  margin-bottom: 45px;
}

/* Media Query */

@media only screen and (min-width: 320px) {

nav .brand-logo {
    padding: 0px;
}

h1 {
    font-size: 3.2rem;
}
/* Resize Columns on S & M Screens */
.grid-sizer,
.grid-item {
  width: 95%;
}
}
@media only screen and (min-width: 1024px) {
/* Resize Columns on S & M Screens */

nav .brand-logo {
    padding-left: 10px;
}

.grid-sizer,
.grid-item {
  width: 47%;
}
}

@media only screen and (min-width: 1200px) {
/* Resize Columns on S & M Screens */
.grid-sizer,
.grid-item {
  width: 30%;
}
}