@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap');


html {
    font-family: Recursive, sans-serif;
    height: 100%;
}

.bg {
       background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,68,121,1) 19%, rgba(32,156,238,1) 90%); 

  /* Full height */
    height: 100%;
}


.title {
color: azure;
margin-top: 2rem;
}

.label {
    color: azure;
}

#add_ingredient_field {
    padding:1rem;
}

.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin:5px 5px;
    padding: 0 0.5em;
}

.task_header {
    margin-top: 5px;
}
nav {
    background-color: transparent;
    color: black;
    box-shadow: none;
}
.media {
    background-color: white;
    padding: 1em;
    margin: 0.5em;
    border-radius: 25px;
}
.content h3:not(:first-child) {
    margin: 0;
}


.content h3 {
    margin: 0;
}
}


@media screen and (max-width: 768px) { 

body {
    background-image: url("../images/home-bkgrnd-mobile-2.jpg");
    background-size: 100vw 100vh;
}
nav .brand-logo {
    font-size: 1.5rem;
}
}
