@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap');

/* Background Colours */ 
html {
    font-family: Recursive, sans-serif;
    height: 100%;
    background: rgb(43, 35, 204);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,68,121,1) 19%, rgba(32,156,238,1) 90%); 
}
/* Space the title below the nav bar */ 
.title {
color: azure;
margin-top: 3rem;
}

.label {
    color: azure;
}


/* .btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin:5px 5px;
    padding: 0 0.5em;
}
*/ 
.task_header {
    margin-top: 5px;
}
nav {
    background-color: transparent;
    color: black;
    box-shadow: none;
}

/* Alignment of recipes displayed in Media Content */

.media {
    background-color: white;
    padding: 1em;
    margin: 0.5em;
    border-radius: 25px;
}
.content h3:not(:first-child) {
    margin: 0;
}

.content h3 {
    margin: 0;
}

/* alignment of category search buttons */

.buttons {
    justify-content: center;
    
}
.buttons .button:not(:last-child):not(.is-fullwidth) {
    margin-right: 2px;
}

.category-button {
    min-width: 166px;
}

/* Media Query */ 

@media only screen and (max-width: 769px) {
  body {
      font-size:2rem !important;
}
}