<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
      type="text/css"
    />
    <title>{{ title }} - Recipe Store</title>
  </head>

  <body>
    <header>
      <h1>Hi, {{ user.username }}!</h1>
      <nav>
        <div class="nav-wrapper">
          <a href="" class="brand-logo">Recipe Store</a>
          <a href="" data-activates="mobile-demo" class="button-collapse"
            ><i class="material-icons">menu</i></a
          >
          <ul class="right hide-on-med-and-down">
            <li>
              <a href=""><i class="material-icons">search</i></a>
            </li>
            <li>
              <a href=""
                ><i class="material-icons">view_module</i></a
              >
            </li>
            <li>
              <a href=""
                ><i class="">refresh</i></a
              >
            </li>
            <li>
              <a href=""><i class="material-icons">more_vert</i></a>
            </li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
        <li><a href="">Home</a></li>
        <li><a href="">My Recipes</a></li>
        <li><a href="">Edit Recipes</a></li>
        <li><a href="">Mobile</a></li>
      </ul>
        </div>
      </nav>
    </header>
    <div class="container">
      {% block content %} {% endblock %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $(".collapsible").collapsible();
        $(".button-collapse").sideNav();
        $("select").material_select();
      });

      $(".datepicker").pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15, // Creates a dropdown of 15 years to control year,
        today: "Today",
        clear: "Clear",
        close: "Ok",
        closeOnSelect: false, // Close upon selecting a date,
      });
    </script>
  </body>
</html>
