{% extends 'base.html' %}
{% block content %}
<section id="login-form container">
    <div class="row">
        <div class="title">
            <h1>Welcome to the Recipe Store!</h1>
        </div>
    </div>
    <div class="row">
    <div class="col m4 s10 offset-m4 offset-s1">
            <form method="POST" action="{{ url_for('login') }}">
<!-- Display flashed messaged if Usernames are taken or incorrect --> 
<!-- Username field -->
                <div class="input-field">
                    <div class="control">
                        <input
                        class="input is-large"
                        type="text"
                        name="username"
                        placeholder="Username"
                        autofocus=""
                        />
                    </div>
                    {% with messages = get_flashed_messages() %} {% if messages %}
                    {% for message in messages %} 
                    <p class="help">{{ message }}</p>
                    {% endfor %}{% endif %}{% endwith %}
                </div>
<!-- Password field -->
                <div class="input-field">
                    <div class="control">
                        <input
                        class="input is-large"
                        type="password"
                        name="password"
                        placeholder="Your Password"
                        />
                    </div>
                </div>
<!-- Login Button -->
                <br>
                <div>
                <button class="btn waves-effect green" type="submit" name="action">Login
                <i class="material-icons right">lock_open</i>
                </button>
                <br>
                <p>Don't have an account ?
                <a href="{{ url_for('signup') }}">Sign up here!</a>
                </p>
                </div>
            </form>
            <br>
<!-- Link to signup form if no account -->
        </div>
    </div>
</section>
{% endblock %}

