{% extends 'base.html' %}
<body>
	{% block content %}
	<div class="row">
		<div class="column is-4 is-offset-4">
    <h3 class="title">Login</h3>
    <div class="box">
        <form method="POST" action="/login">
        {{ form.hidden_tag() }}
            <div class="field">
                <div class="control is-info">
                    <input id="{{ form.username.label }}{{ form.username(size=32)}}"class="is-info"/> 
                </div>
            <div class="field">
                <div class="control is-info">
                    {{ form.password.label }}{{ form.password(size=32) }}
                </div>
            </div>
            <div class="field">
                {{ form.remember_me() }}{{ form.remember_me.label }} 
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Login</button>
        </form>
    </div>
</div>
	</div>
{% endblock %}
</body>