{% extends 'base.html' %}
{% block content %}
<!-- Search form with Individual buttons representing categories -->
<section class="section container">
    <div class="row">
      <div class="col s8 l10 offset-l1 offset-s2">
            <form class="button-form" action="{{url_for('search')}}"> 
                <div class="btn-group">
                    <!-- Breakfast Button -->
                    <button class="btn waves-effect blue darken-4" type="submit" name="submit_button" value="Breakfast">Breakfast
                    </button>
                    <!-- Lunch Button -->
                    <button class="btn waves-effect blue darken-4" type="submit" name="submit_button" value="Lunch">Lunch
                    </button>
                    <!-- Dinner Button -->
                    <button class="btn waves-effect blue darken-4" type="submit" name="submit_button" value="Dinner">Dinner
                    </button>
                    <!-- Brunch Button -->
                    <button class="btn waves-effect blue darken-4" type="submit" name="submit_button" value="Brunch">Brunch
                    </button>
                    <!-- Baking Button --> 
                    <button class="btn waves-effect blue darken-4" type="submit" name="submit_button" value="Baking">Baking
                    </button>
                    <!-- Dessert Button -->
                    <button class="btn waves-effect blue darken-4" type="submit" name="submit_button" value="Dessert">Dessert
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- Displayed Content from Search -->
<section class="container">
    <div class="row grid">
    <!-- Loop for displaying all retrieved recipes from MongoDB -->
    {% for recipe in user_recipes %}
        <div class="item">
        <div class="card light-blue lighten-5 content">
            <div class="card-content">
                <span class="category_icon">{{ recipe.category_name }}</span>
                <!-- Recipe Content -->
                <span class="card-title"
                ><h4>{{ recipe.category_name }}</h4>
                <br />
                {{ recipe.recipe_name}}</span
                >
                <small><strong>Prep Time: </strong>{{ recipe.prep_time}} min </small>
                <small
                ><strong>Cooking Time: </strong>{{ recipe.cook_time}} min
                </small>
                <br />
                <br />
                <span class="card-title">Preparation Instructions</span>
                {{ recipe.preparation_instructions }}
                <br />
                <br />
                <span class="card-title">Cooking Instructions</span>
                {{ recipe.cooking_instructions }}
                <br />
                <span class="card-title">Ingredients</span>
                {{recipe.ingredients}}
                <!-- Update and delete Nav Icons-->
                <div class="card-action">
                    <a
                    class="level-item"
                    href="{{url_for('edit_recipe', recipe_id=recipe._id)}}"
                    >
                    <span class="icon "><i class="small material-icons">edit</i></span>
                    </a>
                    <a
                    class="level-item"
                    href="{{url_for('delete_recipe', recipe_id=recipe._id)}}"
                    >
                    <span class="icon"
                    ><i class="small material-icons">delete_forever</i></span>
                    </a>
                </div>
            </div>
        </div>
        </div>
    {% endfor %}
  </div>
</section>
{% endblock %}