{% extends 'base.html' %}
{% block content %}
<section id="login-form">
    <div class="row">
        <div class="title">
            <h1>Sign Up!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col m4 s10 offset-m4 offset-s1">
        
            <form method="POST" action="/signup">
                <div class="input-field">
                    <div class="control">
                        <input 
                        class="input is-large" 
                        type="text" 
                        name="username" 
                        placeholder="Name" 
                        required>
                    </div>
<!-- Display flashed messaged if Usernames are taken or incorrect --> <!-- Username field -->
                    {% with messages = get_flashed_messages() %} {% if messages %}
                    {% for message in messages %} 
                    <p class="help">{{ message }}</p>
                    {% endfor %}{% endif %}{% endwith %}
                </div>
                <div class="input-field">
                    <div class="control">
                        <input 
                        class="input is-large" 
                        type="password" 
                        name="password" 
                        placeholder="Password"
                        required>
                    </div>
                </div>
                <button class="btn waves-effect orange darken-1" type="submit" name="action">Sign Up
                <i class="material-icons right">lock_open</i>
                </button>
            </form>
        </div>
    </div>
</section>
{% endblock %}